*{
  margin: 0;
  padding: 0;
}

.App{
  height: 1024px;
  padding: 0 0 98px;
  background-color: #fcfcfc;
}

.header__logo {
  /*width: 1440px;*/
  height: 114px;
  margin: 0 0 70px;
  padding: 44px 0 5px 150px;
  box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
  background-image: linear-gradient(to bottom, #ececec -32%, #fff 124%);
}

.header__logo__title{
  /*width: 208px;*/
  height: 28px;
  object-fit: contain;
  font-family: Baskerville;
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #3b3b3b;
}
.navbar{
  display: flex;
  justify-content: center;
}
.navbar__button{
  width: 98px;
  height: 31px;
  padding: 3px 16px 0 17px;
  border-radius: 2px;
  border: solid 1px #d6d6d6;
  text-align: center;
}

.navbar__text{
  height: 28px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: #606060;
}

.navbar__button--active{
  border: solid 1px #1797ff;
}

.navbar__text--active{
  color: #1797ff;
}

